.card {
  display: inline-block;
  text-align: center;
  width: 5em;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 1em;
  user-select: none;
 }
 
 .activeCard {
  color:green;
  background:greenyellow;
 }
